.timer {
  font-size: 50px;
  font-family: "Bungee Inline", cursive;
}
.buttonContainer button {
  padding: 10px 15px;
  margin: 5px;
  color: #fff;
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 3px #000;
  outline: none;
}
.buttonContainer button:active {
  transform: translate(0, 3px);
}
.start {
  background: green;
  font-family: "Press Start 2P", cursive;
  box-shadow: 10px 10px black;
}
.start:hover {
  cursor: pointer;
  box-shadow: none;
}
.reset {
  background: red;
  font-family: "Press Start 2P", cursive;
  box-shadow: 10px 10px black;
}
.reset:hover {
  cursor: pointer;
  box-shadow: none;
}
.gameTitle {
  font-family: "Bungee Inline", cursive;
  font-size: 50px;
  letter-spacing: 7px;
}
.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modalText {
  text-align: center;
  font-size: 48px;
  font-family: "Press Start 2P", cursive;
  padding: 7rem;
  border: 10px solid black;
}
.winnerName {
  margin-top: 20px;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 5px;
}
.modalReset {
  height: 100px;
  width: 100%;
  font-size: 24px;
  font-family: "Press Start 2P", cursive;
  border: 5px solid black;
}

.modalReset:hover {
  transition: 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: 5px solid white;
  cursor: pointer;
}
